*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1600px;
}
.font{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}
body{
    background-color: #1A0B2E;
}
nav{
    border-bottom: 2px dotted rgb(47, 65, 71);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
       max-height: 92px;
       color: white;
       padding: 30px 200px;
}
.menu{
    display: flex;
    align-items: center;
}
nav h1{
    font-weight: 900;
    margin: 0;
}

nav span{
      background: linear-gradient(to top right,red,blue);
    -webkit-background-clip:text;
    color: transparent;
}
 nav ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
    justify-content: center;
    margin: 0;
    padding: 0;
    }
nav a{
    color: white;
    text-decoration: none;
    
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav button{
    background:linear-gradient(to top right,red,blue) ;
    border-radius: 20px;
    padding: 12px 16px;
    gap: 6px;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.6s ease, color 0.6s ease;
} 
nav button:hover{
     background: none;
     color: white;
}
nav button:active{
    background-color: red;
    color: black;
}
nav .hamburg{
    width: 24px;
    height: 24px;
    display: none;
}          






































































































/* responsive section */
@media screen and (max-width:576px) {
    .navbar{
        justify-content: space-between;
        padding: 30px 20px;
    }
    .menu{display: none;}
    nav button{
        display: none;
    }
    
nav .hamburg{
    width: 24px;
    height: 24px;
    display: inline-flex;
}  
}
        