*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}
body{
    background-color: #1A0B2E;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
}
nav{
    border-bottom: 2px dotted rgb(47, 65, 71);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
       max-height: 92px;
       color: white;
       padding: 2rem 5%;
}
.menu{
    display: flex;
    align-items: center;
}
nav h1{
    font-weight: 900;
    margin: 0;
}

nav span{
      background: linear-gradient(to top right,gold,red,blue);
    -webkit-background-clip:text;
    color: transparent;
}
 nav ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
    justify-content: center;
    margin: 0;
    padding: 0;
    }
nav a{
    color: white;
    text-decoration: none;
    
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav button{
    background:linear-gradient(to top right,gold,red,blue) ;
    border-radius: 20px;
    padding: 12px 16px;
    gap: 6px;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.6s ease, color 0.6s ease;
} 
nav button:hover{
     background: none;
     color: rebeccapurple;
}
nav button:active{
    background-color: plum;
    color: black;
}
nav .hamburg{
    width: 24px;
    height: 24px;
    display: none;
}          

.banner{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 0 20px;
    /* background-color: red; */
}
.hero-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2rem;
}
.hero-img{
    height: 350px;
    width: 350px;
    background:linear-gradient(to top right,gold,red,blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    border: 8px solid rgba(42, 24, 108, 1);
}
.hero-img img{
    width: 35%;
    height: auto;
}
.hero-img span{
    position: absolute;
    top:1rem;
    right:1rem;
    color: black;
    background-color: #00FF88;
    padding:0.5rem 1rem;
    border-radius: 20px;
    font-weight: 600;
    animation: pulse 1.5s ease-in-out infinite
}
 @keyframes pulse{
    0%{ transform: scale(1); }
    50%{ transform: scale(1.15);}
    100%{transform: scale(1);}
 }
 .hero-container .hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 }
 .hero-text h1{
    font-size: 60px;
    font-weight: bolder;
    color: white;
 }
 .hero-text p{
    font-size: 16px;
    color: white;
 }
.hero-btn{
    margin-top: 24px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: 'inter', sans-serif;

}
 .hero-btn .hbtn-1{
    background:linear-gradient(to top right,gold,red,blue); 
    border-radius: 20px;
    border: 0;
    padding: 8px 12px;
    font-size: 16px;
    width: 200px;
    height: 45px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 8px;
    cursor: pointer;
 }
 .hbtn-1 img{
    width: 20px;
    height: 20px;
  }
 .hbtn-2{
    border: 1px solid #00FF88 ;
    color:#00FF88;
    background: transparent;
    border-radius: 20px;
    cursor: pointer;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 8px;
    width: 145px;
    height: 45px;
    font-size: 16px;

 }
 .about{
    padding: 2rem 23%;
    /* max-height: 647px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 auto;
    /* gap: 160px; */
 }
 .about-text{
    margin-top: 50px;

 }
 .about-text::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 48px auto;
    background: linear-gradient( to right,
    transparent,
    rgba(255,255,255,0.35),
    transparent
  );

 }
 .about-text h1{
    text-align: center;
 }
 .about-text p{
    text-align: center;
 }
 .about-text h1{
    font-size: 48px;
    margin-bottom: 16px;
 }
 .about-text p{
    font-size: 16px;
    line-height: 20px;
    opacity: 0.8;
 }
 .about-text .p-1{
    margin-bottom: 2rem;
 }
 .about-text .p-2{
    margin-bottom: 2rem;
 }

 .about-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    gap: 80px;
    text-align: center;
 }
 .about-cards .box h1{
    font-size: 48px;
    padding-bottom: 16px;
    color:#00FF88 ;
 }
 .about-cards .box p{
    opacity: 0.8;
 }
.features{
    padding: 120px 200px;
    text-align: center;
    color: white;
    background-color: #230E3D;
}
.features h1{
    margin-bottom: 60px;
    font-size: 40px;
}
.features-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* border: 2px solid red; */
    text-align: left;
    /* align-items: center; */
}
.features-grid img{
    width: 50px;
}
.features-grid p{
      opacity: 0.8;
}
.features-grid .features-card{
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #1A0B2E;
}

.features-grid .card1{
    grid-row:span 2;  
}

.features-grid .card2, .features-grid .card3, .features-grid .card4{
    grid-column: span 2;
}
.features-grid .card5{
      grid-column: span 1;
}
























































































/* responsive section */
@media screen and (max-width:576px) {
    html, body{
        overflow-x: hidden;
    } 
    .navbar{
        justify-content: space-between;
        padding: 30px 20px;
    }
    .nav-right{
        gap: 0;
    }
    .menu{display: none;}
    .nav-right button{
        display: none;
    }
    
nav .hamburg{
    width: 24px;
    height: 24px;
    display: inline-flex;
} 
.banner{
     /* width: 100%; */
     min-height: auto;
     padding: 40px 0;
     background-size: cover;
     background-position: center;
    }
.hero-container{
    padding: 120px 20px 40px;
} 
.hero-img{
    width: 200px;
    height: 200px;
}
.hero-img img{
    width: 40%;
    
}
.hero-img span{
    font-size: 14px;
    right: 6px;
}
.hero-text h1{
    font-size: 40px;
    text-align: center;
}
.hero-text p{
    max-width: 320px;
    font-size: 16px;
    text-align: center;
    padding: 0 10px;
}
.hero-btn{
    gap: 12px;

}
.hbtn-1, .hbtn-2{
    width: 100%;
    max-width: 145px;
}
.about{
    padding: 0 20px;
    max-height: none;
}
.about-text h1{
    font-size: 32px;
}
.about-text #p-1{
    margin-bottom: 10px;
}
.about-text #p-2{
    margin-bottom: 10px;
}
.about-cards{
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.about-cards .box h1{
    font-size: 40px;
}
.features{
    padding: 60px 20px;
}
.features-grid{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.card1, .card2, .card3, .card4, .card5{
    grid-row: unset;
    grid-column: unset;
}

}       